body {
    background-image: linear-gradient(rgb(124, 217, 253), rgb(241, 199, 250)) !important;
    max-width: 100%;
    min-height: 100vh;
}

.headertext2 {
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 5vw;
    text-shadow: 2px 3px 2px rgb(250, 108, 191);
}

.season {
    color:  rgb(254, 255, 254);
    font-weight: 500;
    font-size: 5vw;
    text-align: center;
    margin: 2vw;
}

.hrmodify {
    background-color:  rgb(254, 255, 254);
    margin-left: 2vw;
    margin-right: 2vw;
}
.info {
    color: rgb(250, 108, 191);
    margin: 1vw;
    padding: 1vw;
    font-size: 15pt;
}

.infoheader {
    text-align: center;
    color: white;
    text-shadow: 2px 3px 2px rgb(250, 108, 191);
    padding: 1vw;
    font-size: 20pt;
}

.bottomtext {
    color:  rgb(250, 108, 191);
    font-size: 15pt;
    text-align: center;
}

.contactus { 
    font-size: 15pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 2vw;
}
.contactus:link {
    color: white;
}

.contactus:visited {
    color: rgb(175, 173, 173);
}

.contactus:hover {
    color: white;
    text-decoration: underline;
}

.contactus:active {
    color: rgb(4, 56, 3);
    text-decoration: underline;
}
